<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/product.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>product Page</title>
</head>
<body>
    <h1>Welcome to the product Page</h1>
    <a href="/logout" class="btn btn-dark">Logout</a>
    <a href="/blog" class="btn btn-dark">Blog</a>


    {% if error %}
        <div id="error-message" >
            <p class="error">{{ error }}</p>
        </div>
	{% endif %}
    {% if announce %}
        <div id="announce-message" >
            <p class="announce">{{ announce }}</p>
        </div>
    {% endif %}

    <!-- Upload product Form -->
    <h2>Upload Product</h2>
    <form id="uploadForm" action="/insert-product" method="POST" >
        <label for="id">ID:</label>
        <input type="text" name="id" required><br>
        <label for="title">Title:</label>
        <input type="text" name="title" required><br>
        <label for="price">Price:</label>
        <input type="text" name="price" required><br>
        <button type="submit">Add Product</button>
    </form>

    <!-- Delete product Form -->
    <h2>Delete product</h2>
    <form id="deleteForm" action="/delete-product" method="POST" >
        <label for="deleteId">ID:</label>
        <input type="text" name="deleteId" required><br>
        <button type="submit">Delete product</button>
    </form>

    <!-- Update product Form -->
    <h2>Update product</h2>
    <form id="updateForm" action="/update-product" method="POST" >
        <label for="updateId">ID:</label>
        <input type="text" name="updateId" required><br>
        <label for="updateTitle">Title:</label>
        <input type="text" name="updateTitle"><br>
        <label for="updatePrice">Price:</label>
        <input type="text" name="updatePrice"><br>
        <button type="submit">Update product</button>
    </form>

    <!-- Get product by Title Form -->
    <h2>Get product by Title</h2>
    <form id="getByTitleForm" action="/read-product" method="POST" >
        <label for="getByTitle">Title:</label>
        <input type="text" name="getByTitle" required><br>
        <button type="submit">Get products by Title</button>
    </form>

    <!-- Display Results -->
    <h2>Results</h2>
    <div id="results"></div>

    <script>
        
    </script>
</body>
</html>
